.btn {
	padding:$space-2 $space-3;
	font-size:1rem;
	border-radius:$border-radius;
	transition: background-color 0.25s;
	will-change: background-color;
	text-transform:uppercase;
	font-weight:400;
	font-family:$mono-font-family;
	background-color:palette(yellow, base);
	&:hover {
		background-color:palette(yellow, light);
	}
	&:disabled {
		color:black;
		background: repeating-linear-gradient(
		  45deg,
		  palette(yellow, base),
		  palette(yellow, base) 10px,
		  palette(yellow, light) 10px,
		  palette(yellow, light) 20px
		);
		background-size: 400% 400%;
		animation: btn-loading 7.5s infinite;
	}
}


@keyframes btn-loading {
	0%{
		background-position-x:0%;
	}
	100% {
		background-position-x:100%;
	}
}
